<!doctype html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>API Sandwich - Backend</title>
</head>

<body>
    <header>
      <h1>Backend</h1>
    </header>
    <article>
      <form method="post" action="{{ ajouter }}">
        <fieldset><legend>Informations générales</legend>
          <input type="text" placeholder="nom du sandwich" name="nom">
          <input type="text" placeholder="description" name="description">
          <input type="hidden" value="baguette" name="type_pain">
        </fieldset>
        <fieldset><legend>Catégories associées</legend>
          {% for categorie in tab %}
          <input type="checkbox" value="{{ categorie.id }}" name="{{ categorie.nom }}">{{ categorie.nom }}
          {% endfor %}
        </fieldset>
        <fieldset><legend>Prix par taille</legend>
          {% for taille in tailles %}
          <label for="{{ taille.id }}">{{ taille.nom }}</label><input type="text" name="{{ taille.id }}" placeholder="valeur en €">
          {% endfor %}
        </fieldset>
        <input type="submit" value="Ajouter un sandwich">
      </form>
    </article>
    <article>
      {% for categorie in tab %}
            <div class="categorie">
              <h2>{{ categorie.nom }}</h2>
              {% for sandwich in categorie.sandwichs %}
                <div class="sandwich">
                  <h3>{{ sandwich.nom }}</h3>
                  <a href="{{ sandwich.modifier }}">Modifier</a>
                  <form method="POST" action="{{ sandwich.supprimer }}"><input type="submit" value="Supprimer"></form>
                </div>
              {% endfor %}
            </div>
      {% endfor %}
    </article>

    <footer>
      <p>Fin de la page</p>
    </footer>
</body>
<style>
body{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
header{
  width: 100%;
}
header h1{
  text-align: center;
  width: 100%;
}

article:nth-child(2){
  width: 70%;
  margin: auto;
}
article:nth-child(3){
  width: 90%;
  margin: auto;
}

.categorie{
  display: flex;
  flex-wrap: wrap;
}

.categorie h2{
  width: 100%;
}

.sandwich{
  width: 11.25%;
  margin-left: 2%;
  box-sizing: border-box;
  background-color: #AEDDEE;
  text-align: center;
  border-radius: 0px 20px 0px 0px;
  -webkit-transition-property: border-radius;
  -webkit-transition-duration: 1s;
  -moz-transition-property: border-radius;
  -moz-transition-duration: 1s;
  transition-property: border-radius;
  transition-duration: 1s;
}

.sandwich:hover{
  border-radius: 40px 40px 40px 40px;
}

footer{
  width: 80%;
  border: 1px solid black;
  margin: auto;
  margin-top: 2em;
}

footer p{
  text-align: center;
  width: 100%;
}
</style>
</html>
